*, ::after, ::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'NotoSansGeorgian-VariableFont_wdth,wght';
    color: #707070;
    /* box-sizing: border-box; */
    overflow-x:hidden ;
}

h1, h2, h3, h4, h5, h6 {
    font-size: unset;
    font-weight: normal;
}

/* -------------------------------------------HEADER-------------------------------------------- */


.header {
    width: 100%;
    height: 558px;
    background-color: #0038D3;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    height: 90.5px;

}

.menu {
    width: 100%;
    max-width: 516.79px;
    display: flex;
    justify-content: end;
    margin-right: 7%;
    font-size: 3.5rem;
}

.firstul {
    display: flex;
}

.firstul a {
    color: white;
    margin-left: 34px;
}

.languages a {
    color: white;
    margin-left: 34px; 
}


.ge-cont {
    display: flex;
    padding-right: 13px;
    cursor: pointer;
}


.ge-cont i {
    color: white;
    font-size: 2.2rem;
    transform: translate(10px,17px);
    user-select: none;
}

.enru {
    display: none;
    background-color: #FFFFFF;
    color: #0044FF;
    user-select: none;
    padding-left: 10px;
}

/* .lang {
    padding-left: 40px;
} */

#en {
    color: #0044FF;
    padding-bottom: 5px;
    border-bottom: 1px solid #0044FF;
    user-select: none;
}

#ru {
    color: #0044FF;
    user-select: none;
}

.enru.show {
    display: block;
}


.logo {
    margin-left: 7%;
    font-family: 'BPG WEB 001';
    color: white;
    padding-top: 5px;
}

.logo a {
    font-size: 3.9rem;
    color: white;
}

.header-txt {
    color: white;
    font-family: 'BPG WEB 001';
    font-size: 6.5rem;
    /* width: 76%; */
    max-width: 1453px;
    margin-top: 101.5px;
    margin-left: 7%;
    line-height: 66px;
    height: 264px;
}



.firsth1 {
    margin-bottom: 30px;
}

.chkh-logo img {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 7%;
    top: 468px;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .header-txt {
        font-size: 3.5rem;
    }

    .logo a {
        font-size: 3.9rem;
    }

    .header-txt h3 {
        width: 63%;
    }

    .menu {
        font-size: 3rem;
    }
   
  }

@media (max-width: 1351px) {
    .header-txt h3 {
        width: 73%;
    }
}


@media (max-width: 1118px) {
    .header {
        padding-bottom: 100px;
    }

    .chkh-logo {
        position: absolute;
        top: 100px;
        right: 7%;
    }
}

/* ----------------------------------ABOUT--------------------------------------- */

.about-head {
    color:#0044FF;
    font-size: 7.4rem;
    font-family: 'BPG WEB 001';
    margin-top: 120px;
    margin-left: 7%;;
}

.about-container {
    width: 73.3%;
    margin-top: 29px;
    margin-left: 7%;
    font-size: 3.5rem;
    margin-bottom: 126px;
    line-height: 47px;
    /* border: 2px solid black; */
}

#hidden-txt {
    display: none;
}

#hidden-txt.show {
    display: inline;
}



.read-more-btn {
    color: #0044FF;
    cursor: pointer;
    margin-top: 10px;
    font-size: 3.5rem;
}

.read-more-btn.hide-btn {
    display:none;
}

#dots.hide-dots {
    display: none;
}

#hidden-list {
    display: none;
    margin-left: 37px;
    list-style: none;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #0044FF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;
    transform: translate(0, -2px);
}

#hidden-list.show-list {
    display: block;
}


.deadlines {
    display: none;
}

.deadlines.show-deadline {
    display: block;
}

#eu-undp {
    display: none;
    width: 39%;
    margin-left: 42%;
    margin-bottom: 114.5px;
    /* border: 2px solid red; */
}

#eu-undp.show-img {
    display: block;
}


@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .about-head {
        font-size: 3.5rem;
    }

    .about-container {
        font-size: 2.5rem;
    }

    .read-more-btn {
        font-size: 2.5rem;
    }
}


/* --------------------------------PROJECTS----------------------------------- */

.project-container {
    width: 100%;
    /* min-height: 1165px; */
    background-color: #0038D3;
    padding-bottom: 179px;
}

.project-head {
    color: white;
    font-family: 'BPG WEB 001';
    font-size: 7.4rem;
    /* border: 2px solid white; */
    /* max-width: 881px; */
    margin-left: 7%;
    padding-top: 92px;
}

.projects-grid-container {
    width: 87%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 76px;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.grid {
    background-color: #FFFFFF;
    /* width: 536px; */
    /* width: 100%; */
    /* height: 354px; */
    border-radius: 42px;
    cursor: pointer;
    padding: 37px 12px 52px 26px;
    overflow: auto;
    overflow: hidden;
}


.grid:hover {
    background-color: #ffffffcc;
}

.grid-head-cont {
    /* margin-left: 7%; */
    /* margin-top: 29px; */
    font-family: 'BPG WEB 001';
    font-size: 2.3rem;
    margin-bottom: 15px;
}

.grid-head {
    margin-bottom: 13px;
    color: #0038D3;
}

.grid-author {
    color: #0038D3;
}

.authors {
    color: black;
}

.img-story-cont {
    width: 95%;
    display: flex;
    /* margin-left: 8.8%; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.img-story-cont p {
    font-size: 1.5rem;
    color: #707070;
    margin-left: 2.4%;
    text-align: start;
    /* margin-top: auto;
    margin-bottom: auto; */
}

.img-story-cont img {
    width: 50%;
    height: 50%;
    border-radius: 17px;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .project-head {
        font-size: 3.5rem;
    }

    .grid-head-cont {
        font-size: 2.3rem;
    }

    .img-story-cont p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) {
    .projects-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 850px) {
    .projects-grid-container {
        grid-template-columns: 1fr;
    }
}

/* -----------------------------------DETAILS----------------------------------- */

.details-main {
    padding-left: 30px;
}

/* პირველი ფლექს კონტეინერი */

.details-head  {
    font-family: 'BPG WEB 001';
    font-size: 7.4rem;
    color: #0044FF;
    margin-left: 7%;
    margin-top: 158px;
    position: relative;
    /* border: 2px solid black; */
}



.details-shadow {
    width: 76.4rem;
    height: 60px;
    background-color: #ADCFD8;
    border-radius: 43px;
    transform: translate(3px, 59%);
    margin-bottom: 142px;
    position: relative;
}


.details-head h1 {
    z-index: 1;
    position: absolute;
    font-size: 7.4rem;
}


.flex {
    width: 93%;
    /* border: 2px solid black; */
    display: flex;
    margin-left: 7%;
}



.img-inner-flex-1 img {
    height: 380px;
    margin-top: 15px;
    margin-bottom: 270.5px;
}

.text-container-flex {
    margin-left: 2.8%;
    /* border: 2px solid black; */
}

.inner-flex-header {
    font-family: 'BPG WEB 001';
    font-size: 5.6rem;
    color: #0044FF;
    margin-bottom: 26px;
}

.inner-flex-txt  {
    font-size: 3.5rem;
    width: 80%;
    color: #707070;

    margin-bottom: 26px;
}

.inner-flex-list {
    display: flex;
}

.inner-flex-list li{
    font-size: 3.5rem;
    color: #707070;
    margin-left: 54px;
}

.circle-1 {
    width: 20px;
    height: 20px;
    background-color: #0073FF;
    border-radius: 50%;
    /* margin-left: 54px; */
    margin-bottom: 27px;
    margin-top: 5px;
}

.circle-2 {
    width: 20px;
    height: 20px;
    background-color: #0073FF;
    border-radius: 50%;
    /* margin-left: 54px; */
    margin-bottom: 27px;
    margin-top: 4.5px;
}

.circle-3 {
    width: 20px;
    height: 20px;
    background-color: #0073FF;
    border-radius: 50%;
    /* margin-left: 54px; */
    margin-bottom: 27px;
    margin-top: 1px;
}

.circles {
    margin-top: 13px;
}

.list {
    margin-bottom: 50px;
}


/* აქედან იყწება მეორე ფლექს კონტეინერი */

.img-inner-flex-2 img{
    height: 390px;
    margin-bottom: 428px;
}
.text-container-flex-2 {
    margin-top: 7px;
    margin-left: 1.8%;
}

/* აქედან იწყება მესამე ფლექს კონტეინერი */

.text-container-flex-3 {
    margin-left: 1.8%;
}

.img-inner-flex-3 img {
    margin-top: 23.5px;
    height: 458px;
    margin-bottom: 508px;
}



@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .details-head h1 {
        font-size: 3.5rem;
    }

    .details-shadow {
        width: 37rem;
        height: 4.4rem;
        transform: translateY(17%);
    }

    .details-h1 {
        font-size: 3.5rem;
    }

    .inner-flex-txt {
        font-size: 3rem;
    }

    .inner-flex-list li {
        font-size: 3rem;
    }

    .circle-1{
        width: 10px;
        height: 10px;
    }

    .circle-2{
        width: 10px;
        height: 10px;
    }

    .circle-3{
        width: 10px;
        height: 10px;
    }

    .img-inner-flex-1 img {
        margin-bottom: 160px;
    }

    .img-inner-flex-2 img {
        margin-bottom: 230px;
    }
    
    .img-inner-flex-3 img {
        margin-bottom: 300px;
    }
    
}



@media  (max-width: 1199px) { /*------------------------------------------------------------------------------------------დროებით პატარა რესფონსივი*/
    .flex {
        display: block;
        margin-bottom: 100px;
    }

    .details-shadow {
        margin-bottom: 230px;
    }

    .img-inner-flex-1 img {
        margin-bottom: 30px;
    }

    .img-inner-flex-2 img {
        margin-bottom: 30px;
    }

    .img-inner-flex-3 img {
        margin-bottom: 0px;
    }
}

@media (max-width: 810px) {
    .details-shadow {
        width: 38.2rem;
    }
}



/* --------------------PROJECTS (for russian)---------------------- */

.project-cont-for-ru {
    width: 100%;
    min-height: 1165px;
    background-color: #0038D3;
    margin-bottom: 224px;
    padding-bottom: 78px;
}


.projects-for-rus-header {
    color: white;
    font-size: 7.4rem;
    font-family: 'BPG WEB 001';
    padding-top: 96px;
    padding-left: 7%;
    
}

.projects-for-rus-header-2 {
    font-size: 5.6rem;
    color: white;
    font-family: 'BPG WEB 001';
    padding-top: 14px;
    padding-left: 7%;
    margin-bottom: 62px;
}

.project-ru-grid-cont{
    width: 87%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    margin-top: 76px;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.grid-ru {
    background-color: white;
    border-radius: 42px;
    padding: 53px 20px 42px 28px;
}

.grid-ru:hover {
    background-color: #ffffffcc;
}

.project-ru-grid-cont-header {
    font-family: 'BPG WEB 001';
    color: #0038D3;
    font-size: 2.6rem;
    margin-bottom: 8px;
}

.authors-ru-grid {
    display: flex;
    margin-bottom: 11.3px;
}

.authors {
    font-size: 2.1rem;
    font-family: 'BPG WEB 001';
    
}

.names-ru {
    font-size: 2.1rem;
    color: #0038D3;
    font-family: 'BPG WEB 001';
    /* margin-right: 12.5%; */
}

.project-ru-grid-cont hr {
    margin-bottom: 11.7px;
}

.project-ru-grid-cont img {
    width: 63%;
    margin-bottom: 26px;
}

.grid-ru-story {
    font-size: 20px;
    color: #707070;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .projects-for-rus-header {
        font-size: 3.5rem;
    }
    
    .projects-for-rus-header-2 {
        font-size: 3rem;
    }
    
    .project-ru-grid-cont-header {
        font-size: 2.5rem;
    }

    .authors {
        font-size: 1.6rem;
    }

    .names-ru {
        font-size: 1.6rem;
    }

    .grid-ru-story {
        font-size: 2rem;
    }
}


@media (max-width: 1259px) {
    .authors-ru-grid {
        display: block;
    }
}

@media (max-width: 1200px) {
    .project-ru-grid-cont {
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    .project-ru-grid-cont {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ----------------------------reflexion------------------------ */




.linear-reflextion {
    height:100%;
    /* width: 34%; */
    width: 650px;
    background-image: linear-gradient(to right, #6788ff02 , #6787FF);
    position: absolute;
    right: 0;
    z-index: 1;

}

.logo-reflection img {
    width: 180px;
    height: 180px;
    transform: translate(0, -50%);
    position: absolute;
}

.pl-7 {
    padding-left: 7%;
}

.reflexion-container {
    width: 100%;
    /* height: 1668px; */
    background-color: #0038D3;
    padding-bottom: 200px;  /*დროებით ჩემით მივაწერე*/
    position: relative;
}

.reflexion-header h1 {
    font-family: 'BPG WEB 001';
    color: white;
    font-size: 7.4rem;
    width: 50%;
    margin-left: 7%;
    padding-top: 259px;
    margin-bottom: 117px;
}

.full-article-container {
    position: relative;
}

.articles-container {
    padding-left: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* display: flex;
    flex-wrap: nowrap; */
    gap: 67px;
    overflow: auto;
    position: relative;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
}

.article {
    width: 435px;
    color: white;
    /* flex: 0 0 auto; */
}

.article-author {
    font-size: 3.5rem;
    display: inline;
}

.age {
    font-size: 1.4rem;

}

.address {
    font-size: 2.1rem;
    margin-bottom: 30px;
}

.article article {
    font-size: 2.5rem;
}

.articles-container::-webkit-scrollbar {
    display: none;
}

.arrow {
    color: white;
    font-size: 12.8rem;
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    background-color: transparent;
    border: none;
    cursor: pointer !important;
    z-index: 1;
}

.R {
    right: 20px;
    display: block;
}
.L {
    left: 20px;
    display: none;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .reflexion-header h1 {
        font-size: 3.5rem;
    }

    .article-author {
        font-size: 3rem;
    }

    .age {
        font-size: 1.4rem;
    }

    .address {
        font-size: 2.1rem;
    }

    .article article {
        font-size: 2rem;
    }
}



/* ----------------------------FOOTER------------------------ */

footer {
    width: 100%;
    height: 267px;
}

.footer-txt {
    width: 50%;
    padding-left: 7%;
    padding-top: 113px;
}

.footer-txt p {
    font-family: 'BPG WEB 001';
    font-size: 2.5rem;
    color: black;
}

.mail {
    color: #0044FF;
}


/* ----------------------------------------------------------------audio-story--------------------------------------------------------------------------------------------*/


/* -------------------------backgroungd----------------------- */

.background {
    width: 100%;
    min-height: 1446px;
    background-color: #0038D3;
}

.logo {
    /* border: 2px solid white; */
    margin-bottom: 41px;
}

.white-container {
    min-height: 1103px;
    width: 85.5%;
    background-color: white;
    transform: translate(0, 70px); /*აქ დროებით 70პიქსელით ჩამოვწიე იმიტომ რომ ჩამოშლილ ენებს ეფარებოდა*/
    margin: auto;
    border-radius: 42px;
    padding-top: 138px;
    box-sizing: border-box;
}

.audio-story-head {
    font-family: 'BPG WEB 001';
    color: #0044FF;
    font-size: 5.6rem;
    text-align: center;
    margin-bottom: 29px;
    
}

.audio-story-desc {
    font-family: 'BPG WEB 001';
    color: #0044FF;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 63px;
}

.audio {
    width: 96%;
    height: 482px;
    margin-left: 2%;
    margin-bottom: 58px;
}

.audio-desc {
    margin-left: 8.5%;
    color: #707070;
    font-size: 2.5rem;
    margin-bottom: 7px;
}

.chkh-logo-audio img {
    width: 18rem;
    height: 18rem;
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    transform: translateY(50%);
}


@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .audio-story-head {
        font-size: 3.5rem;
    }
    
    .audio-story-desc {
        font-size: 2.5rem;
    }
    
    .audio-desc {
        font-size: 2.5rem;
    }
}


/* ----------------------------------------------------------------presonal-diary--------------------------------------------------------------------------------------------*/


/* -------------------------backgroungd----------------------- */

.background-diary {
    width: 100%;
    min-height: 4479px;
    background-color: #0038D3;
    padding-bottom: 130px;
}


.inner-cont-diary {
    width: 85.5%;
    min-height: 4116px;
    background-color: #FFFFFF;
    margin: auto;
    transform: translate(0, 70px); /*აქ დროებით 70პიქსელით ჩამოვწიე იმიტომ რომ ჩამოშლილ ენებს ეფარებოდა*/
    border-radius: 42px;
    position: relative;
}

.diary-head {
    font-size: 5.6rem;
    color: #0044FF;
    font-family: 'BPG WEB 001';
    text-align: center;
    padding-top: 117px;
    margin-bottom: 29px;
}

.diary-author {
    font-size: 3.5rem;
    color: #0044FF;
    font-family: 'BPG WEB 001';
    text-align: center;
    margin-bottom: 62px;
}

.diary-txt {
    font-size: 2.5rem;
    color: #707070;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 70px;
}


.diary-img {
    width: 69%;
    margin-left: 8%;
    margin-bottom: 70px;
}

.diary-txt-darker {
    color: #4d4d4d;
}

.diary-txt-2 {
    padding-bottom: 100px;
}

.logo-diary img{
    width: 18rem;
    height: 18rem;
    /* transform: translate(300%,-90%); */
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    transform: translateY(50%);
}

hr {
    border: .2px solid #707070;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .diary-head {
        font-size: 3.5rem;
    }

    .diary-author {
        font-size: 2.5rem;
    }

    .diary-txt {
        font-size: 2.5rem;
    }
}


/* -----------------------------------------------slider-page--------------------------------------- */

.background-slider {
    width: 100%;
    min-height: 3542px; /*3911px;*/
    background-color: #0038D3;
    padding-bottom: 0px;
}

.inner-cont-slider {
    width: 85.5%;
    min-height: 2500px; /*3257px*/
    background-color: #FFFFFF;
    padding-bottom: 70px; /*დროებით*/
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 70px); /*აქ დროებით 70პიქსელით ჩამოვწიე იმიტომ რომ ჩამოშლილ ენებს ეფარებოდა*/
    border-radius: 42px;
    /* position: relative; */
}

.slider-header {
    font-size: 5.6rem;
    color: #0038D3;
    font-family: 'BPG WEB 001';  
    padding-top: 123px;
    text-align: center;
}

.slider-author {
    font-size: 3.5rem;
    font-family: 'BPG WEB 001';
    color: #0038D3;
    text-align: center;
    padding-top: 22px;
    margin-bottom: 59px;
}

.paragtaph {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    color: #616161;
    margin-bottom: 177px;
}


/* ----------------------------------------------------slider */


.slider-img {
    /* border: 2px solid black; */
    margin-bottom: 150px;
}


.slider-items img {
    width: 59%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 100px;
   
}

.slick-center img {
    width: 100%;
    margin-top: 0 !important;
    margin-left: auto;
    margin-right: auto;
    /* transform: translate(-11%, -20%); */
 
}

@media (max-width: 1673px) {
    .background-slider {
        padding-bottom: 100px;
    }
}

@media (max-width: 1400px) {
    .background-slider {
        padding-bottom: 200px;
    }
}


@media (max-width:1024px) {
    .slick-center img {
        width: 100%;
        transform: translate(0, 0);
        margin-bottom: 100px;
    }

    .paragtaph {
        margin-bottom: 50px;
    }

    .slider-img {
        margin-bottom: 80px;
    }

    .background-slider {
        width: 100%;
        /* min-height: 4570px;  */
    }

    .background-slider {
        padding-bottom: 230px;
    }
}



.slick-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translate(-250%, 0); */
    cursor: pointer;
}

.prev-arr {
    font-size: 7rem;
    cursor: pointer;
    transform: translateX(-75px);
    z-index: 9;
    color: #004FD8;
    
}

.next-arr {
    font-size: 7rem;
    margin-left: 200px;
    cursor: pointer;
    transform: translateX(-150px);
}

#text {
    font-size: 4.5rem;
    color: #004FD8;
    position: absolute;
    transform: translate(-19px, -17px);
}

/* ----------------------------------------------------end-slider */

.logo-slider img{
    width: 18rem;
    height: 18rem;
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    transform: translateY(50%);
}


@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .slider-header {
        font-size: 3.5rem;
    }

    .slider-author {
        font-size: 2.5rem;
    }

    .paragtaph {
        font-size: 2.5rem;
    }
}