@font-face {
  font-family: 'NotoSansGeorgian-VariableFont_wdth,wght';
  src: url(./NotoSansGeorgian-VariableFont_wdth%2Cwght.eot);
  src: url(./NotoSansGeorgian-VariableFont_wdth%2Cwght.eot?#iefix) format('embedded-opentype'),
       url(./NotoSansGeorgian-VariableFont_wdth%2Cwght.otf) format('otf'),
       url(./NotoSansGeorgian-VariableFont_wdth%2Cwght.svg#NotoSansGeorgian-VariableFont_wdth%2Cwght) format('svg'),
       url(./NotoSansGeorgian-VariableFont_wdth%2Cwght.ttf) format('truetype'),
       url(./NotoSansGeorgian-VariableFont_wdth%2Cwght.woff) format('woff'),
       url(./NotoSansGeorgian-VariableFont_wdth%2Cwght.woff2) format('woff2');
}

@font-face {
  font-family: 'BPG WEB 001';
  src: url('./fonts/bpg-web-001-webfont.eot'); /* IE9 Compat Modes */
  src: url('./fonts/bpg-web-001-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/bpg-web-001-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/bpg-web-001-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/bpg-web-001-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/bpg-web-001-webfont.svg#bpg_web_001regular') format('svg'); /* Legacy iOS */
}